<header>
  <div class="header-nav">
    <a href="/">BLOG</a>
    <p>ようこそ、<%= locals.username %>さん</p>
    <ul>
      <li><a href="/list">一覧</a></li>
      <li><a href="/login">ログイン</a></li>
      <li><a href="/logout">ログアウト</a></li>
    </ul>
  </div>
  <p>一覧</p>
</header>