<h1>Hello World</h1>

<ul class="table-body">
  <% users.forEach((user) => { %>
    <li>
      <div class="item-data">
        <span class="id-column"><%= user.id %></span>
        <span class="name-column"><%= user.name %></span>
        <form action="/delete/<%= user.id %>" method="post">
          <input type="submit" value="削除">
          <a href="edit/<%= user.id %>">編集</a>
        </form>
      </div>
    </li>
  <% }) %>
</ul>

<a href="/new" class="new-button">+ 新規作成</a>